@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  height: 100vh;
  background: linear-gradient(#f7cac9, #92a8d1);
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 530px;
  width: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 30px;
}

.frame__nav-bar1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.frame__singer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame__singer-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.frame__singer-name {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 5px;
}

.frame__singer-desc {
  font-weight: 700;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.frame__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.frame__btn1 {
  height: 30px;
  width: 80px;
  background-color: #f7cac9;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.frame__btn2 {
  height: 30px;
  width: 80px;
  background-color: #92a8d1;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.fa-heartbeat {
  color: white;
  margin-right: 5px;
}

.frame__songs {
  display: flex;
  flex-direction: column;
}

.frame__song1,
.frame__song2,
.frame__song3,
.frame__song4,
.frame__song5 {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 5px;
}

.frame__song2 {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.frame__song-img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.frame__song-info {
  margin-left: 10px;
}

.frame__song-info-singer {
  font-size: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.frame__song-info-title {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

.fa-ellipsis-v {
  color: rgba(0, 0, 0, 0.3);
}

.icon1 {
  margin-left: 90px;
}

.icon2 {
  margin-left: 81px;
}

.icon3 {
  margin-left: 64px;
}

.icon4 {
  margin-left: 55px;
}

.icon5 {
  margin-left: 65px;
}

.frame__status-bar {
  height: 50px;
  width: 230px;
  background-color: #f7cac9;
  opacity: 0.9;
  border-radius: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  transform: translateY(-50px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.frame__status-bar__info {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
}

.frame__status-bar__info-singer {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

.frame__status-bar__info-title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.frame__status-bar-icons {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  margin-right: -30px;
}

.fa-step-backward,
.fa-pause {
  margin-right: 8px;
}

.e-icon {
  color: rgba(0, 0, 0, 0.8);
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-info__play-img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgb(231, 180, 180);
  margin-top: 30px;
}

.song-info__title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.song-info__singer {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.music-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -5px;
}

.music-bar__past,
.music-bar__future {
  font-size: 11px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}

.music-line {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.music-line__black {
  height: 3px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.music-line__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: -1px;
}

.music-line__grey {
  height: 3px;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: -2px;
}

.playing-icons {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.i1 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.playing-icons__i {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #f7cac9;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -6px;
}

.fa-play {
  margin-left: 2px;
}
