body {
  height: 100vh;
  background-color: #dcdcdc;
}
h1 {
  text-align: center;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  height: 280px;
  width: 200px;
  border: 5px solid white;
  margin: 10px;
  position: relative;
}
.desc_box {
  height: 80px;
  width: 201px;
  background-color: white;
  position: absolute;
  top: 20px;
  font-weight: 600;
}
.box:nth-child(1) {
  background-color: tomato;
}
.box:nth-child(2) {
  background-color: teal;
}
.box:nth-child(3) {
  background-color: burlywood;
}
.box:nth-child(4) {
  background-color: thistle;
}
.desc_box > p {
  font-size: 20px;
  margin: 10px;
}
.desc_box > span {
  font-size: 12px;
  margin-left: 10px;
}
