@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  height: 100vh;
  background: linear-gradient(#f7cac9, #92a8d1);
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 530px;
  width: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 20px;
}

.frame__nav-bar1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.frame__singer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame__singer-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.frame__singer-name {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 5px;
}

.frame__singer-desc {
  font-weight: 700;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.frame__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.frame__btn1 {
  height: 30px;
  width: 80px;
  background-color: #f7cac9;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
}

.frame__btn2 {
  height: 30px;
  width: 80px;
  border: 1px solid #92a8d1;
  box-shadow: 0px 2px 2px #92a8d1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #92a8d1;
}

.fa-heartbeat {
  color: #92a8d1;
  margin-right: 5px;
}

.frame__songs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame__song1,
.frame__song2,
.frame__song3,
.frame__song4 {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 5px;
}

.frame__song2 {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.frame__song4 {
  margin-bottom: 10px;
}

.frame__song1-img,
.frame__song2-img,
.frame__song3-img,
.frame__song4-img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.frame__song1-info,
.frame__song2-info,
.frame__song3-info,
.frame__song4-info {
  margin-left: 10px;
}

.frame__song1-info-singer,
.frame__song2-info-singer,
.frame__song3-info-singer,
.frame__song4-info-singer {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.frame__song1-info-title,
.frame__song2-info-title,
.frame__song3-info-title,
.frame__song4-info-title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

.fa-ellipsis-v {
  margin-left: 60px;
  color: rgba(0, 0, 0, 0.3);
}

.frame__status-bar {
  height: 50px;
  width: 230px;
  background-color: #f7cac9;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.frame__status-bar__info {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
}

.frame__status-bar__info-singer {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.frame__status-bar__info-title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.frame__status-bar-icons {
  color: rgba(0, 0, 0, 0.8);
  margin-right: -30px;
  font-size: 10px;
}

.fa-step-backward {
  margin-right: 10px;
}

.fa-pause {
  margin-right: 10px;
}
